.h1{
  color: rgb(255, 255, 255);
}

.heading{
  height: 150px;
  background-color: rgb(15, 15, 91);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome{
  height: 350px;
  background-color: rgb(161, 211, 255);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDiv{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}